
/*=============================================
=           04: Common CSS          =
=============================================*/


.owl-dots{
    .owl-dot{
        width: 2px;
        height: 30px;
        display: block;
        background-color: rgba(197 ,  201,  207, 1) !important;
        &:not(:last-child){
            margin-bottom: 10px;
        }
        &.active{
            width: 3px;
            background-color: $theme-color--secondary !important;
        }
    }
}

.container-fluid{
    &.custom-fluid{
        width: 90%;
        padding-left: 0;
        padding-right: 0;
    }
}

body{
    &.sliding-content{
        .content-surround{
            transform: translate3d(300px, 0px, 0px);
            transition: transform .4s ease-in-out;
        }
    }
    .content-surround{
        transition: .4s;
    }
}

.bg-cover{
    background-size: cover !important;
}
.white-bg{
    background-color: #fff;
}
#location-map {
    min-height: 670px;
    width: 100%;
}

.line-title{
    position: relative;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: $regular;
    padding-left: 52px;
    letter-spacing: 3px;
    @include mobileMd{
        padding-left: 0;
        font-size: 1x;
    }
    &:after{
        position: absolute;
        left:0;
        top:50%;
        margin-top: -.5px;
        width: 44px;
        height: 1px;
        content: '';
        @extend .theme-heading-bg;
        @include mobileMd{
            display: none;
        }
    }
}
.shade{
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: .3;
    visibility: visible;
    z-index: -1;
    @extend .theme-default-bg;
    &.active{
        z-index: 998;
    }
}

/*  4.1: Form */
input , label , textarea , select{
    transition: .4s;
}

input , textarea{
    font-size: 14px !important;
}

input[type=text] , input[type=email] , input[type=password] , textarea , input[type=file]{
    width: 100%;
    line-height: 38px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    padding: 5px 6px;
    padding-left: 20px;
}

input[type=file]{
    line-height: 1.5;
}

.label-bold{
    label{
        font-weight: $bold;
    }
}

.input-group{
    .input-group-addon{
        font-size: 14px;
        line-height: 1.5;
        border-radius: 4px 0 0 4px;
        min-width: 16px;
        padding: 5px;
        text-align: center;
        text-shadow: 0 1px 0 #ffffff;
        background-color: #eeeeee;
        border: 1px solid #ccc;
    }
}
		
select{
    font-size: 14px;
    border: 1px solid #cccccc;
    height: 30px;
    line-height: 20px;
    padding: 4px 6px;
    border-radius: 4px;
    @extend .theme-default;
    @extend .color-white-bg;
}

/*  4.2: Animation */
[data-animate] {
    visibility: hidden;
    -webkit-animation-duration: .6s;
    animation-duration: .6s;
    transition: .3s;
  }
  
  [data-animate].animated {
      visibility: visible;
  }
  
  .animated {
    animation-fill-mode: backwards;
  }

  @-webkit-keyframes zoomInOut {
    0% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
  
//   Custom Keyframe
  @keyframes zoomInOut {
    0% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
    }
  }