
/*=============================================
=           03: spacing  CSS         =
=============================================*/

.section-space{
    &--inner{
        &--30{
            padding-top: 30px;
            padding-bottom: 30px;
        }
        &--r95{
            padding-top: 95px;
            padding-bottom: 95px;

            @include tab{
                padding-top: 60px;
                padding-bottom: 60px;
            }

            @include mobileLg{
                padding-top: 40px;
                padding-bottom: 40px;
            }
        }

        &--r110{
            padding-top: 110px;
            padding-bottom: 110px;

            @include tab{
                padding-top: 80px;
                padding-bottom: 80px;
            }

            @include mobileLg{
                padding-top: 60px;
                padding-bottom: 60px;
            }
        }

        &--top{
            &--r120{
                padding-top: 120px;
    
                @include tab{
                    padding-top: 80px;
                }
    
                @include mobileLg{
                    padding-top: 60px;
                }
            }
        }

        &--bottom{
            &--r95{
                padding-bottom: 95px;
    
                @include tab{
                    padding-bottom: 60px;
                }
    
                @include mobileLg{
                    padding-bottom: 40px;
                }
            }
        }

        &--bottom{
            &--r120{
                padding-bottom: 120px;
    
                @include tab{
                    padding-bottom: 80px;
                }
    
                @include mobileLg{
                    padding-bottom: 60px;
                }
            }
        }

    }

    &--bottom{
        &--15{
            margin-bottom: 15px;
        }

        &--20{
            margin-bottom: 20px;
        }

        &--30{
            margin-bottom: 30px;
        }
        &--90{
            margin-bottom: 90px;
        }
    }
}

.outer-space{
    &--r80{
        margin-bottom: 80px;
        @include tab{
            margin-bottom: 60px;
        }

        @include mobileLg{
            margin-bottom: 40px;
        }
    }
}

.space-md-b90{
    @include tab{
        margin-bottom: 90px;
    }
}

/*=====  End of spacing  ======*/