/*===========================================
=            CSS Index            =
============================================

    01: Helper CSS
    02: Default CSS
    03: Spacing CSS
    04: Common CSS
        4.1: Form
        4.2: Custom Animation
    05: Header CSS
        5.1: Logo
        5.2: Main Menu
        5.3: Mobile Menu
    06: Hero sider  CSS
        6.1: Single Slider
    07: Clients CSS
    08: Blog CSS
        8.1: Single Blog
        8.2: Blog Meta
        8.3: More Item List
        8.4: Pagination
        8.5: Blog Details
    09: Blog Sidebar CSS
        9.1: Single Sidebar
    10: Portfolio CSS
    11: Service CSS
        11.1 Service Video
        11.2: Service Slider 
        11.3: Single Service
        11.4: Major Service
    12: CTA CSS
        12.1: CTA Content
    13: About CSS
        13.1: About Info
        13.2: About Counter
    14: Team CSS
        14.1: Single Team Member
    15: Mission Vission CSS
        15.1: Mission vission Content
        15.2: Mission Video
    16: Testimonial
        16.1: Testimonial Content
    17: Contact CSS
        17.1: Contact Form
        17.2: Contact Details
    18: Error CSS
    19: Search
        19.1: Search Form
        19.2: Search Actions
        19.3: Advanced Search Form
    20: Account
        20.1: Account Block
        20.2: Profile Content 
    21: Footer
        21.1: Footer Top
        21.2: Fotter Bottom
        21.3: Footer Weidget
        22.4: Fotter Copyright
        22.5: Footer Bottom Menu
    23: Button
        23.1: Default Button
        23.2: Icon Button
        23.3: Video Button
    24: Section Title
    25: Breadcrumb
        25.1: Breadcrumb Content
    26: Accordion
        26.1: Single Accordion
    27: Scroll Top

/*=====  End of CSS Index  ======*/

/*=============================================
=           01: Helper CSS            =
=============================================*/

/* no gutters */

.no-gutters {
	margin-left: 0;
	margin-right: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
	padding-right: 0;
	padding-left: 0;
	margin: 0;
}

/*=====  End of Helper CSS  ======*/

/*=============================================
=           02: Default CSS            =
=============================================*/

*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	line-height: 1.75;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	visibility: visible;
	font-family: "Noto Sans", sans-serif;
	color: #4c5b6d;
	position: relative;
	background-color: #ffffff;
	overflow-x: hidden;
}

body.no-overflow {
	overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #333333;
	font-family: "Noto Serif", serif;
	font-weight: 500;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.23;
}

h1 {
	font-size: 56px;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 40px;
}

h4 {
	font-size: 34px;
}

h5 {
	font-size: 24px;
}

h6 {
	font-size: 18px;
}

p:last-child {
	margin-bottom: 0;
}

a,
button {
	color: inherit;
	display: inline-block;
	line-height: inherit;
	text-decoration: none;
	cursor: pointer;
}

*:focus {
	outline: none !important;
}

a:focus {
	color: inherit;
	outline: none;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: #0d2481;
}

button,
input[type="submit"] {
	cursor: pointer;
}

ul {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}

textarea {
	resize: none;
}

img {
	max-width: 100%;
	height: auto;
}

/*-- Tab Content & Pane Fix --*/

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	padding-right: 15px;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' height='10px' width='15px'%3E%3Ctext x='0' y='10' fill='black'%3E%E2%96%BE%3C/text%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: 95% 50%;
}

::-moz-selection {
	color: #ffffff;
	background-color: #4c5b6d;
}

::selection {
	color: #ffffff;
	background-color: #4c5b6d;
}

/*=====  End of Default CSS  ======*/

/*=============================================
=           03: spacing  CSS         =
=============================================*/

.section-space--inner--30 {
	padding-top: 30px;
	padding-bottom: 30px;
}

.section-space--inner--r95 {
	padding-top: 95px;
	padding-bottom: 95px;
}

.section-space--inner--r110 {
	padding-top: 110px;
	padding-bottom: 110px;
}

.section-space--inner--top--r120 {
	padding-top: 120px;
}

.section-space--inner--bottom--r95 {
	padding-bottom: 95px;
}

.section-space--inner--bottom--r120 {
	padding-bottom: 120px;
}

.section-space--bottom--15 {
	margin-bottom: 15px;
}

.section-space--bottom--20 {
	margin-bottom: 20px;
}

.section-space--bottom--30 {
	margin-bottom: 30px;
}

.section-space--bottom--90 {
	margin-bottom: 90px;
}

.outer-space--r80 {
	margin-bottom: 80px;
}

/*=====  End of spacing  ======*/

.theme-default,
select,
.mobile-menu .mean-bar .mean-nav > ul li a,
.single-sidebar .login-links a:hover,
.account-block .reset-links a:hover,
.footer-weidget .footer-nav ul li a:hover {
	color: #4c5b6d;
}

.theme-default-bg,
.shade,
.blog-meta.line-title:after {
	background-color: #4c5b6d;
}

.theme-secondary,
.main-menu nav > ul > li.active .mega-menu-inner > li ul li a:hover,
.main-menu nav > ul > li.active .mega-menu-inner > li ul li.active a,
.mega-menu-inner > li ul li a:hover,
.mobile-menu .mean-bar .mean-nav > ul li a:hover,
.mobile-menu .mean-bar .mean-nav > ul li a.mean-expand:hover,
.single-blog.blog-v3 .blog-content h4,
.pagination ul li a,
.single-sidebar .login-links a,
.single-sidebar .latest-news-list ul li a:hover,
.advance-search-form .search-input button.bordered-btn,
.account-block .reset-links a,
.copyright-text .company-name:hover,
.site-btn:hover,
.site-btn.btn-v2,
.icon-btn,
.single-accordion.active .accordion-title {
	color: #0d2481;
}

.theme-secondary-bg,
.header-navigation,
.mobile-menu .mean-bar .mean-nav > ul li a.mean-expand,
.client-logos-area.client-logos-v2,
.single-service.service-v2,
.about-info-inner,
.team-member-element .single-team-member .member-img:after,
.vission-mission-area,
.advance-search-form .search-input button.bordered-btn:hover,
.site-btn,
.site-btn.btn-v2:hover,
.backToTop {
	background-color: #0d2481;
}

.theme-heading {
	color: #333333;
}

.theme-heading-bg,
.line-title:after,
.logo,
.single-slider h2:after {
	background-color: #333333;
}

.color-white,
.main-menu nav > ul > li.active a,
.main-menu nav > ul > li.has-submenu > a:hover,
.main-menu nav > ul > li > a:hover,
.main-menu nav > ul > li > a.active,
.contact-meta .phone-no,
.mobile-menu .mean-bar .mean-nav > ul li a.mean-expand,
.single-service.service-v2 .service-content h4,
.single-major-service.active h4,
.cta-content h2,
.cta-contact .phone-num,
.single-about-counter .counter-content .count,
.vission-mission-content .top-title,
.vission-mission-content .highlight-area p,
.contact-details .social-link ul li a i,
.contact-info-list ul li,
.advance-search-form .search-input button.bordered-btn:hover,
.site-btn,
.site-btn:focus,
.site-btn.btn-v2:hover,
.video-play-btn i,
.section-title.section-title-v2 h4,
.section-title.section-title-v2 p,
.section-title.section-title-v4 h4,
.backToTop a i {
	color: #ffffff;
}

.color-white-bg,
select,
.main-menu nav > ul > li .mega-menu-inner,
.more-items-list,
.pagination ul li span,
.pagination ul li a,
.single-article-content .article-bottom-action a,
.service-video .service-video-slider,
.search-content,
.advance-search-form .search-input button.bordered-btn,
.account-block,
.site-btn:hover,
.site-btn.btn-v2 {
	background-color: #ffffff;
}

.theme-black,
.mega-menu-inner > li > a,
.mega-menu-inner > li span,
.single-sidebar .latest-news-list ul li a,
.single-sidebar .news-module ul li .news-info h5,
.single-sidebar .news-module ul li .news-info .date,
.team-member-element .single-team-member .member-profile h2,
.team-member-element .single-team-member .member-profile .role,
.footer-weidget .footer-head h4 {
	color: #1e2329;
}

.theme-black-bg {
	background-color: #1e2329;
}

/*=============================================
=           04: Common CSS          =
=============================================*/

.owl-dots .owl-dot {
	width: 2px;
	height: 30px;
	display: block;
	background-color: #c5c9cf !important;
}

.owl-dots .owl-dot:not(:last-child) {
	margin-bottom: 10px;
}

.owl-dots .owl-dot.active {
	width: 3px;
	background-color: #0d2481 !important;
}

.container-fluid.custom-fluid {
	width: 90%;
	padding-left: 0;
	padding-right: 0;
}

body.sliding-content .content-surround {
	-webkit-transform: translate3d(300px, 0px, 0px);
	transform: translate3d(300px, 0px, 0px);
	-webkit-transition: -webkit-transform .4s ease-in-out;
	transition: -webkit-transform .4s ease-in-out;
	-o-transition: transform .4s ease-in-out;
	transition: transform .4s ease-in-out;
	transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
}

body .content-surround {
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}

.bg-cover {
	background-size: cover !important;
}

.white-bg {
	background-color: #fff;
}

#location-map {
	min-height: 670px;
	width: 100%;
}

.line-title {
	position: relative;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 400;
	padding-left: 52px;
	letter-spacing: 3px;
}

.line-title:after {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -.5px;
	width: 44px;
	height: 1px;
	content: '';
}

.shade {
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: .3;
	visibility: visible;
	z-index: -1;
}

.shade.active {
	z-index: 998;
}

/*  4.1: Form */

input,
label,
textarea,
select {
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}

input,
textarea {
	font-size: 14px !important;
}

input[type=text],
input[type=email],
input[type=password],
textarea,
input[type=file] {
	width: 100%;
	line-height: 38px;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	padding: 5px 6px;
	padding-left: 20px;
}

input[type=file] {
	line-height: 1.5;
}

.label-bold label {
	font-weight: 700;
}

.input-group .input-group-addon {
	font-size: 14px;
	line-height: 1.5;
	border-radius: 4px 0 0 4px;
	min-width: 16px;
	padding: 5px;
	text-align: center;
	text-shadow: 0 1px 0 #ffffff;
	background-color: #eeeeee;
	border: 1px solid #ccc;
}

select {
	font-size: 14px;
	border: 1px solid #cccccc;
	height: 30px;
	line-height: 20px;
	padding: 4px 6px;
	border-radius: 4px;
}

/*  4.2: Animation */

[data-animate] {
	visibility: hidden;
	-webkit-animation-duration: .6s;
	animation-duration: .6s;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

[data-animate].animated {
	visibility: visible;
}

.animated {
	-webkit-animation-fill-mode: backwards;
	animation-fill-mode: backwards;
}

/*=============================================
=           05: Header CSS           =
=============================================*/

.main-header.sticky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	-webkit-animation: fadeInDown 0.4s ease 0s 1;
	animation: fadeInDown 0.4s ease 0s 1;
}

.header-navigation {
	position: relative;
}

/*  5.1: Logo */

.logo {
	-webkit-box-flex: 0;
	-webkit-flex: 0 20%;
	-ms-flex: 0 20%;
	flex: 0 20%;
	width: 20%;
	line-height: 90px;
}

.logo img {
	padding: 0 50px;
	padding-left: 40px;
}

/*  5.2: Main Menu */

.main-menu {
	position: relative;
	-webkit-box-flex: 0;
	-webkit-flex: 0 52%;
	-ms-flex: 0 52%;
	flex: 0 52%;
	width: 52%;
	padding-left: 35px;
}

.main-menu nav > ul > li {
	display: inline-block;
	position: relative;
}

.main-menu nav > ul > li:hover .mega-menu-inner {
	opacity: 1;
	visibility: visible;
}

.main-menu nav > ul > li.active .mega-menu-inner > li ul li a {
	color: #8e8e8e;
}

.main-menu nav > ul > li.has-submenu > a {
	position: relative;
}

.main-menu nav > ul > li.has-submenu > a:after {
	position: absolute;
	font-size: 24px;
	right: -20px;
	top: 50%;
	margin-top: -20px;
	content: "\f107";
	font-family: 'fontAwesome';
}

.main-menu nav > ul > li > a {
	padding: 30px 14px;
	font-size: 15px;
	color: #98a5d9;
	letter-spacing: 2px;
}

.main-menu nav > ul > li.mega-item {
	position: static;
}

.main-menu nav > ul > li .mega-menu-inner {
	position: absolute;
	left: 50%;
	right: 0;
	top: 101%;
	overflow: hidden;
	z-index: 99;
	min-width: 100%;
	margin-left: -15px;
	padding: 30px;
	text-align: left;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.14);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.14);
	opacity: 0;
	visibility: hidden;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}

.mega-menu-inner {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.mega-menu-inner > li {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 33.3333%;
	-ms-flex: 0 0 33.3333%;
	flex: 0 0 33.3333%;
	width: 0 0 33.3333%;
}

.mega-menu-inner > li:not(:last-child) {
	border-right: 1px dotted #eee;
}

.mega-menu-inner > li > a,
.mega-menu-inner > li span {
	padding: 12px 15px;
	display: block;
}

.mega-menu-inner > li ul li a {
	font-size: 13px;
	font-weight: 500;
	padding: 12px 15px;
	letter-spacing: 2px;
	color: #8e8e8e;
}

.contact-meta {
	-webkit-box-flex: 0;
	-webkit-flex: 0 28%;
	-ms-flex: 0 28%;
	flex: 0 28%;
	width: 28%;
	padding-right: 40px;
}

.contact-meta .phone-no {
	font-size: 15px;
	letter-spacing: 1px;
	margin-right: 10px;
}

.contact-meta .phone-no i {
	font-size: 16px;
	margin-right: 6px;
}

.contact-meta .site-btn.btn-v2 {
	padding: 7px 28px;
}

/*  5.3: Mobile Menu */

.mobile-menu .mean-bar {
	position: relative;
	min-height: 0px;
	padding: 0;
}

.mobile-menu .mean-bar .mean-nav {
	background-color: #ffffff;
	position: relative;
	top: 0;
	z-index: 999999;
	-webkit-box-shadow: 0 2px 7px #e6ebee;
	box-shadow: 0 2px 7px #e6ebee;
	margin-top: 0 !important;
}

.mobile-menu .mean-bar .mean-nav > ul {
	margin-bottom: 0px;
	overflow-x: hidden;
	max-height: 380px;
	overflow-y: auto;
}

.mobile-menu .mean-bar .mean-nav > ul li {
	position: relative;
	display: block;
	float: left;
	width: 100%;
}

.mobile-menu .mean-bar .mean-nav > ul li a {
	font-size: 16px;
	display: block;
	font-weight: 600;
	text-transform: capitalize;
	line-height: 44px;
	position: relative;
	border-top: 1px solid #eeeeee;
	padding: 4px 40px 4px 20px;
}

.mobile-menu .mean-bar .mean-nav > ul li a.mean-expand {
	border: 1px solid #0d2481 !important;
	position: absolute;
	right: 0px;
	top: 0px;
	font-size: 20px !important;
	line-height: 24px;
	height: 24px;
	width: 20px;
	text-align: center;
	padding: 0;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.mobile-menu .mean-bar .mean-nav > ul li a.mean-expand:hover {
	background-color: #ffffff;
}

.mobile-menu .mean-bar .mean-nav > ul li .mega-menu-inner,
.mobile-menu .mean-bar .mean-nav > ul li ul,
.mobile-menu .mean-bar .mean-nav > ul li ul ul {
	position: static;
	background-color: rgba(0, 0, 0, 0.03);
	margin: 0;
	padding: 0 !important;
	width: 100%;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin: 0;
	display: none;
	float: left;
	width: 100%;
	opacity: 1;
	visibility: visible;
	z-index: 1;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}

.mobile-menu .mean-bar .mean-nav > ul li ul,
.mobile-menu .mean-bar .mean-nav > ul li .mega-menu-inner li {
	padding: 0;
	margin: 0;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 100%;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	border-right: 0px solid transparent;
	width: 100%;
	display: block;
	float: left;
	width: 100%;
}

.mobile-menu .mean-bar .meanmenu-reveal {
	position: absolute;
	left: -60px !important;
	top: -55px;
	z-index: 999;
	padding-bottom: 0;
	padding-left: 0;
	padding-top: 6px;
	line-height: 10px;
	height: 12px;
	cursor: pointer;
}

.mobile-menu .mean-bar .meanmenu-reveal span.menu-bar {
	height: 2px;
	width: 35px;
	background-color: #fff;
	display: block;
	margin: 2px 0;
}

.mobile-menu .mean-bar .meanmenu-reveal span.menu-bar:before,
.mobile-menu .mean-bar .meanmenu-reveal span.menu-bar:after {
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #fff;
}

.mobile-menu .mean-bar .meanmenu-reveal span.menu-bar:after {
	bottom: 0;
}

.mobile-menu .mean-bar .meanmenu-reveal span.menu-bar:before {
	top: 0;
}

.mobile-menu .mean-bar .meanmenu-reveal span.menu-close {
	height: 2px;
	width: 26px;
	background-color: #333333 !important;
	display: block;
	margin: 8px 0;
	position: relative;
}

.mobile-menu .mean-bar .meanmenu-reveal span.menu-close:after,
.mobile-menu .mean-bar .meanmenu-reveal span.menu-close:before {
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
}

.mobile-menu .mean-bar .meanmenu-reveal span.menu-close:after {
	bottom: 0;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.mobile-menu .mean-bar .meanmenu-reveal span.menu-close:before {
	top: 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.mean-remove {
	display: none !important;
}

/*=====  End of Header  ======*/

/*=============================================
=           06: Hero slider  CSS          =
=============================================*/

.hero-area {
	background-attachment: fixed !important;
}

.hero-slider {
	margin: 160px 0;
	border-radius: 4px 4px 0 0;
	position: relative;
	border-top: 3px solid #0d2481;
	padding: 60px 0;
	padding-left: 65px;
	padding-right: 40px;
	z-index: 2;
}

.hero-slider:after {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 0 0 4px 4px;
	content: "";
	z-index: -1;
	background-color: rgba(255, 255, 255, 0.82);
}

.hero-slider:before {
	position: absolute;
}

.hero-slider .owl-dots {
	position: absolute;
	left: 30px;
	top: 50%;
	margin-top: -50px;
}

/*  6.1: Single Sider */

.single-slider {
	padding-left: 70px;
}

.single-slider h2 {
	font-size: 50px;
	font-weight: 400;
	position: relative;
	line-height: 1.4;
	margin-bottom: 18px;
}

.single-slider h2:after {
	position: absolute;
	left: -68px;
	top: 30px;
	height: 2px;
	width: 55px;
	content: "";
}

.single-slider p {
	margin-bottom: 68px;
}

/*=============================================
=           06: Clients CSS          =
=============================================*/

.client-slider {
	padding: 50px 0;
}

.client-slider .signle-client img {
	width: auto;
}

.client-logos-area.client-logos-v2 {
	border-bottom: 1px solid rgba(255, 255, 255, 0.04);
}

.client-logos-area.client-logos-v2 .client-slider {
	padding: 30px 0;
}

/*=============================================
=            08: Blog  CSS       =
=============================================*/

.blog-area .more-btn {
	margin-top: -30px;
}

/*  8.1: Single Blog */

.single-blog h4 {
	font-size: 30px;
	font-weight: 400;
	margin-bottom: 60px;
}

.single-blog h4 a:hover {
	text-decoration: underline;
}

.single-blog .blog-img {
	margin-bottom: 45px;
}

.single-blog .blog-img a {
	display: block;
}

.single-blog .blog-img img {
	border-radius: 4px;
	width: 100%;
}

.single-blog .blog-text p {
	margin-bottom: 25px;
}

.single-blog.blog-v2 {
	margin-bottom: 75px;
}

.single-blog.blog-v2 h4 {
	margin-bottom: 18px;
}

.single-blog.blog-v2 .blog-date {
	font-size: 12px;
}

.single-blog.blog-v2 .blog-date i {
	margin-right: 6px;
}

.single-blog.blog-v2 .blog-text {
	margin-top: 30px;
}

.single-blog.blog-v2 .blog-text p {
	margin-top: -8px;
	margin-bottom: 30px;
}

.single-blog.blog-v3 {
	-webkit-box-shadow: 0px 2px 8px 0px rgba(0, 124, 246, 0.1);
	box-shadow: 0px 2px 8px 0px rgba(0, 124, 246, 0.1);
	margin-bottom: 30px;
}

.single-blog.blog-v3 .blog-img {
	margin-bottom: 0;
}

.single-blog.blog-v3 .blog-img img {
	border-radius: 4px 4px 0 0;
}

.single-blog.blog-v3 .blog-content {
	padding: 30px;
}

.single-blog.blog-v3 .blog-content h4 {
	font-size: 24px;
	margin-bottom: 10px;
}

.single-blog.blog-v3 .blog-content .blog-text p {
	margin-bottom: 20px;
}

/*  8.2: Blog Meta */

.blog-meta {
	position: relative;
	margin-bottom: 20px;
}

.blog-meta.line-title {
	letter-spacing: 0px;
}

.blog-meta ul li {
	display: inline-block;
	font-size: 14px;
}

.blog-meta ul li:not(:last-child) {
	position: relative;
	padding-right: 12px;
	margin-right: 12px;
}

.blog-meta ul li:not(:last-child)::after {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 1px;
	content: '/';
}

.blog-meta.blog-meta-v2 ul li {
	font-size: 12px;
}

.blog-meta.blog-meta-v2 ul li:not(:last-child) {
	margin-right: 9px;
	padding-right: 9px;
}

.blog-meta.blog-meta-v2 ul li:after {
	display: none;
}

/*  8.3: More Item List */

.more-items-list {
	-webkit-box-shadow: 0px 2px 8px 0px rgba(0, 124, 246, 0.1);
	box-shadow: 0px 2px 8px 0px rgba(0, 124, 246, 0.1);
	padding: 14px;
}

.more-items-list ol {
	margin-bottom: 0;
}

.more-items-list li a {
	padding: 8px 0;
}

/*  8.4: Pagination */

.pagination {
	margin-top: 90px;
}

.pagination ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination ul li {
	display: inline-block;
}

.pagination ul li:first-child span {
	border-radius: 4px 0 0 4px;
	border-left-width: 1px;
}

.pagination ul li a:hover {
	color: #4d4d4d;
	background-color: #f5f5f5;
}

.pagination ul li span,
.pagination ul li a {
	display: block;
	padding: 12px 28px;
	border: 1px solid #ddd;
	border-left-width: 0px;
}

/*  8.5: Blog Details */

.single-article-top {
	margin-bottom: 30px;
}

.single-article-top h4 {
	font-size: 30px;
	margin-bottom: 22px;
}

.single-article-content .article-img {
	margin-right: 25px;
}

.single-article-content .article-text p {
	color: #666;
	line-height: 1.9;
}

.single-article-content .article-bottom-action {
	margin-top: 45px;
}

.single-article-content .article-bottom-action a {
	display: inline-block;
	padding: 5px 14px;
	border: 1px solid #ddd;
	border-radius: 15px;
}

.single-article-content .article-bottom-action a:hover {
	background-color: #f5f5f5;
}

.single-article-content .article-bottom-action a i {
	font-size: 24px;
	font-weight: 700;
}

.single-article-content .article-bottom-action a.prev-btn i {
	margin-right: 6px;
}

.single-article-content .article-bottom-action a.next-btn i {
	margin-left: 6px;
}

/*=============================================
=           09: Blog Sidebar  CSS        =
=============================================*/

/*  9.1: Single Sidebar */

.single-sidebar {
	margin-bottom: 2rem;
	padding: 30px 25px;
	-webkit-box-shadow: 0px 2px 8px 0px rgba(0, 124, 246, 0.1);
	box-shadow: 0px 2px 8px 0px rgba(0, 124, 246, 0.1);
	background-color: #fff;
}

.single-sidebar .sidebar-heading {
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 25px;
}

.single-sidebar .sidebar-login-form .form-group {
	margin-bottom: 10px;
}

.single-sidebar .sidebar-login-form .form-group .control-lebel {
	margin-top: -6px;
	padding-left: 4px;
	font-size: 14px;
}

.single-sidebar .sidebar-login-form .form-group.remember-group {
	margin-top: 20px;
}

.single-sidebar .sidebar-login-form input {
	padding-left: 8px;
	border-left: 0;
}

.single-sidebar input {
	padding-left: 5px;
	line-height: 1.75;
}

.single-sidebar .login-links {
	margin-top: 25px;
}

.single-sidebar .login-links a {
	font-size: 14px;
	display: inherit;
}

.single-sidebar .login-links a:hover {
	text-decoration: underline;
}

.single-sidebar .social-icon-links:not(:last-child) {
	margin-bottom: 6px;
}

.single-sidebar .social-icon-links li {
	display: inline-block;
}

.single-sidebar .social-icon-links li:not(:last-child) {
	margin-right: 4px;
}

.single-sidebar .social-icon-links li:hover a {
	color: rgba(77, 91, 108, 0.7);
}

.single-sidebar .social-icon-links li a i {
	min-width: 30px;
}

.single-sidebar .social-icon-links li.item-1 {
	color: #3b5998;
}

.single-sidebar .social-icon-links li.item-2 {
	color: #00aced;
}

.single-sidebar .social-icon-links li.item-3 {
	color: #4875b4;
}

.single-sidebar .social-icon-links li.item-4 {
	color: #dd4b39;
}

.single-sidebar .social-icon-links li.item-5 {
	color: #ef5b93;
}

.single-sidebar .social-icon-links li.item-6 {
	color: #305777;
}

.single-sidebar .social-icon-links li.item-7 {
	color: #cb2027;
}

.single-sidebar .social-icon-links li.item-8 {
	color: #c4302b;
}

.single-sidebar .social-icon-links li.item-9 {
	color: #aaaaaa;
}

.single-sidebar .social-icon-links li.item-10 {
	color: #6441a5;
}

.single-sidebar .social-icon-links li.item-11 {
	color: #ff7900;
}

.single-sidebar .social-icon-links li.item-12 {
	color: #c4302b;
}

.single-sidebar .social-icon-links li.item-13 {
	color: #55779b;
}

.single-sidebar .social-icon-links li.item-14 {
	color: #af0605;
}

.single-sidebar .social-icon-links li.item-15 {
	color: black;
}

.single-sidebar .social-icon-links li.item-16 {
	color: #0063ff;
}

.single-sidebar .social-icon-links li a {
	font-size: 30px;
}

.single-sidebar .latest-news-list ul {
	list-style: disc;
	margin-left: 25px;
}

.single-sidebar .latest-news-list ul li {
	font-size: 14px;
}

.single-sidebar .latest-news-list ul li:not(:last-child) {
	margin-bottom: 12px;
}

.single-sidebar .latest-news-list ul li a:hover {
	text-decoration: underline;
}

.single-sidebar .news-module ul li:not(:last-child) {
	margin-bottom: 25px;
}

.single-sidebar .news-module ul li img {
	max-width: 90px;
	margin-right: 14px;
}

.single-sidebar .news-module ul li .news-info h5 {
	font-size: 14px;
	line-height: 1.5;
	font-weight: 500;
}

.single-sidebar .news-module ul li .news-info h5 a:hover {
	text-decoration: underline;
}

.single-sidebar .news-module ul li .news-info .date {
	font-size: 12px;
	opacity: .85;
}

/*=============================================
=          08: Portfolio  CSS       =
=============================================*/

.recent-work-wrap .recent-work-left {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 35%;
	-ms-flex: 0 0 35%;
	flex: 0 0 35%;
	max-width: 35%;
	margin-right: 5%;
	padding-left: 5%;
}

.recent-work-wrap .recent-work-left .section-title {
	margin-bottom: 0;
}

.recent-work-wrap .recent-work-right {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 60%;
	-ms-flex: 0 0 60%;
	flex: 0 0 60%;
	max-width: 60%;
	position: relative;
}

.recent-work-wrap .recent-work-right .owl-dots {
	position: absolute;
	bottom: 0;
	left: -30px;
}

/*=============================================
=            11: Service  CSS       =
=============================================*/

.service-list-area.section-space--inner--r95 {
	padding-bottom: 65px;
}

/*  11.1: Service Video  */

.service-video .service-video-slider {
	-webkit-box-shadow: 0px 4px 40px 0px rgba(0, 124, 246, 0.1);
	box-shadow: 0px 4px 40px 0px rgba(0, 124, 246, 0.1);
}

.service-video .service-video-slider .owl-dots {
	position: absolute;
	left: 40px;
	bottom: 40px;
}

.service-video .service-video-slider .owl-dots .owl-dot {
	display: inline-block;
	width: 25px;
	height: 2px;
}

.service-video .service-video-slider .owl-dots .owl-dot:not(:last-child) {
	margin-right: 12px;
}

.service-list-area {
	background-color: #0b2073;
}

/*  11.2: Service Slider */

.single-service-slider .video-service-content {
	padding: 75px 40px 95px 40px;
	min-height: 288px;
}

.single-service-slider p {
	font-size: 20px;
}

.single-service-slider .author-name {
	font-size: 30px;
}

.single-service-slider .author-name .author-title {
	font-size: 16px;
	margin-left: 10px;
	color: rgba(12, 33, 117, 0.6);
}

.service-video-bg {
	min-height: 310px;
	border-radius: 4px 4px 0 0;
}

/*  11.3: Single Service */

.single-service {
	margin-bottom: 30px;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}

.single-service .service-icon {
	margin-bottom: 16px;
}

.single-service .service-details h4 {
	font-size: 20px;
	margin-bottom: 20px;
}

.single-service.service-v2 {
	padding: 60px 50px;
	border-radius: 4px;
}

.single-service.service-v2:hover {
	background-color: #283d92;
}

.single-service.service-v2 .service-icon {
	margin-right: 30px;
}

.single-service.service-v2 .service-content h4 {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 25px;
}

.single-service.service-v2 .service-content p {
	color: #98a5d9;
	line-height: 1.9;
}

/*  11.4: Major Service */

.major-service-inner .service-left {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 40%;
	-ms-flex: 0 0 40%;
	flex: 0 0 40%;
	min-height: 200px;
}

.major-service-inner .service-right {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 60%;
	-ms-flex: 0 0 60%;
	flex: 0 0 60%;
}

.major-service-inner .service-right-content {
	padding: 100px;
	padding-left: 80px;
	padding-right: 80px;
}

.major-service-inner .service-bottom-action {
	margin-top: 112px;
}

.major-service-inner .service-bottom-action .site-btn {
	letter-spacing: 0px;
	font-size: 14px;
	padding: 15px 40px;
}

.single-major-service {
	border-top: 4px solid rgba(255, 255, 255, 0);
	background-color: rgba(255, 255, 255, 0);
	border-radius: 4px 4px 0 0;
	margin-bottom: 10px;
}

.single-major-service.active {
	border-color: #fff;
	background-color: rgba(255, 255, 255, 0.05);
}

.single-major-service.active .major-service-text {
	display: block;
}

.single-major-service h4 {
	font-size: 16px;
	font-weight: 400;
	color: #98a5d9;
	padding: 15px;
	padding-left: 30px;
	margin-left: 15px;
	position: relative;
	cursor: pointer;
}

.single-major-service h4:after {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -9.5px;
	font-family: 'fontAwesome';
	content: "\f111";
}

.single-major-service .major-service-text {
	padding: 10px 50px 20px 50px;
	margin-top: 20px;
	display: none;
}

.single-major-service .major-service-text p {
	color: #98a5d9;
}

/*=============================================
=           12: CTA  CSS          =
=============================================*/

/*  12.1: CTA Content */

.cta-content {
	max-width: 790px;
}

.cta-content h5 {
	font-size: 16px;
	font-family: "Noto Sans", sans-serif;
	color: #98a5d9;
}

.cta-content h5.line-title:after {
	background-color: #98a5d9;
}

.cta-content h2 {
	font-size: 40px;
	margin-top: 12px;
	margin-bottom: 25px;
}

.cta-content p {
	color: #98a5d9;
}

.cta-contact .contact-icon {
	margin-left: 80px;
	margin-bottom: 35px;
}

.cta-contact .phone-num {
	font-size: 30px;
	letter-spacing: 1.5px;
	font-weight: 400;
	margin-bottom: 55px;
}

/*=============================================
=           13: About  CSS          =
=============================================*/

/*  13.1: About Info */

.about-info-inner {
	padding-right: 50px;
	padding-bottom: 60px;
	padding-left: 50px;
}

.about-info-inner .cta-content {
	padding-top: 100px;
}

.about-info-inner .cta-content h2 {
	line-height: 1.5;
	margin-bottom: 40px;
}

.about-info-inner .about-counter {
	margin-top: 75px;
}

.about-info-inner .about-info-action {
	margin-top: 40px;
}

.about-info-inner .about-info-action .site-btn {
	font-size: 14px;
	letter-spacing: 0px;
	padding: 15px 30px;
}

.about-info-inner .about-info-action .site-btn i {
	margin-left: 25px;
}

/*  13.2: About Counter */

.single-about-counter .counter-content .count {
	font-size: 60px;
	font-weight: 600;
	line-height: 1;
}

.single-about-counter .counter-content span {
	font-size: 30px;
	line-height: 2.5;
	color: #98a5d9;
}

/*========================================
=           14:  Team CSS           =
========================================*/

.team-members-area {
	background-position: right !important;
}

.team-members-area.section-space--inner--r95 {
	padding-bottom: 80px;
}

.team-members-area.section-space--inner--bottom--r95 {
	padding-bottom: 80px;
}

/*  14.1: Single Team Member */

.team-member-element {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 33.333%;
	-ms-flex: 0 0 33.333%;
	flex: 0 0 33.333%;
	max-width: 33.333%;
	padding: 14px;
}

.team-member-element .single-team-member:hover .member-img:after {
	opacity: .8;
	visibility: visible;
}

.team-member-element .single-team-member:hover .member-description {
	opacity: 1;
	visibility: visible;
}

.team-member-element .single-team-member .member-img {
	position: relative;
}

.team-member-element .single-team-member .member-img:after {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: .9s;
	-o-transition: .9s;
	transition: .9s;
	content: "";
	z-index: 1;
}

.team-member-element .single-team-member .member-img img {
	border-radius: 4px;
}

.team-member-element .single-team-member .member-description {
	position: absolute;
	left: 0;
	top: 15%;
	width: 100%;
	height: 100%;
	padding: 30px;
	z-index: 2;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: .9s;
	-o-transition: .9s;
	transition: .9s;
	color: #98a5d9;
}

.team-member-element .single-team-member .member-description p {
	line-height: 1.88;
}

.team-member-element .single-team-member .member-profile h2 {
	font-size: 30px;
	font-weight: 400;
	margin-bottom: 8px;
}

.team-member-element .single-team-member .member-profile .role {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 2.5px;
	line-height: 1.9;
}

/*=============================================
=        15: Mission & Vission CSS          =
=============================================*/

/*  15.1: Mission & Vission Content */

.vission-mission-content .line-title {
	color: #98a5d9;
	margin-bottom: 25px;
}

.vission-mission-content .line-title:after {
	background-color: #98a5d9;
}

.vission-mission-content .top-title {
	display: inline-block;
	font-size: 38px;
	font-family: "Noto Serif", serif;
	line-height: 1.5;
	margin-bottom: 20px;
}

.vission-mission-content p {
	color: #98a5d9;
}

.vission-mission-content .highlight-area {
	background-color: #0b2073;
	padding: 40px;
	border-radius: 4px;
	margin-bottom: 20px;
}

.vission-mission-content .highlight-area p {
	font-size: 20px;
}

/*  15.2: Mission Video Bg */

.mission-video-bg {
	min-height: 255px;
	border-radius: 4px;
}

.mission-video-bg .video-play-btn {
	background-color: transparent;
}

/*=============================================
=          16:  Testimonial CSS           =
=============================================*/

/*  16.1: Testimonial Content */

.testimonial-content {
	margin-top: 15px;
	margin-bottom: 92px;
}

.testimonial-content .line-title {
	margin-bottom: 30px;
}

.testimonial-content h3 {
	margin-bottom: 28px;
}

.testimonial-content p {
	margin-bottom: 38px;
}

/*=============================================
=           17: Contact CSS         =
=============================================*/

.contact-block-inner {
	-webkit-box-shadow: 0px 0px 10px 0px #e0e3e6;
	box-shadow: 0px 0px 10px 0px #e0e3e6;
	margin-top: -20%;
	margin-bottom: 90px;
}

/*=====  17.1: Contact Form  ======*/

.contact-form {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 60%;
	-ms-flex: 0 0 60%;
	flex: 0 0 60%;
	max-width: 60%;
	position: relative;
	padding: 65px;
	z-index: 2;
	background-color: rgba(255, 255, 255, 0.85);
}

.contact-form .form-element {
	font-size: 14px;
}

.contact-form .form-element:not(:last-child) {
	margin-bottom: 22px;
}

.contact-form .form-element input,
.contact-form .form-element textarea {
	width: 100%;
	line-height: 38px;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	padding: 5px 6px;
	padding-left: 20px;
}

.contact-form .form-element textarea {
	min-height: 150px;
}

.contact-form .form-element button {
	width: 100%;
}

/*=====  17.2: Contact Detalils  ======*/

.contact-details {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 40%;
	-ms-flex: 0 0 40%;
	flex: 0 0 40%;
	max-width: 40%;
	padding: 100px 110px;
	position: relative;
	background-color: rgba(12, 33, 117, 0.9);
}

.contact-details h4 {
	font-size: 25px;
	color: rgba(255, 255, 255, 0.8);
	margin-bottom: 40px;
}

.contact-details .social-link {
	margin-top: 45px;
}

.contact-details .social-link ul li {
	display: inline-block;
}

.contact-details .social-link ul li:not(:last-child) {
	margin-right: 26px;
}

.contact-details .social-link ul li a i {
	font-size: 24px;
}

.contact-info-list ul li {
	font-size: 16px;
}

.contact-info-list ul li:not(:last-child) {
	margin-bottom: 25px;
}

.contact-info-list ul li i {
	margin-right: 10px;
	min-width: 24px;
	font-size: 24px;
}

.contact-info-list ul li .info-text {
	margin-top: -4px;
}

/*=============================================
=           18: Error CSS         =
=============================================*/

.error-area {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100vh;
}

.error-content {
	-webkit-box-shadow: 0px 2px 8px 0px rgba(0, 124, 246, 0.1);
	box-shadow: 0px 2px 8px 0px rgba(0, 124, 246, 0.1);
	padding: 40px;
}

.error-content h2 {
	font-size: 140px;
	font-weight: 700;
	letter-spacing: .5px;
}

.error-content h2 span {
	color: #dc3545;
	font-size: 100px;
	display: inline-block;
	-webkit-animation: zoomInOut 2s infinite ease-in-out;
	animation: zoomInOut 2s infinite ease-in-out;
}

.error-content .error-text {
	font-size: 24px;
	display: inline-block;
	margin-bottom: 40px;
	margin-top: 10px;
}

/*=============================================
=           19: Search CSS         =
=============================================*/

/*  19.1: Search Form */

.search-content {
	padding: 70px 55px;
	-webkit-box-shadow: 0px 2px 8px 0px rgba(0, 124, 246, 0.1);
	box-shadow: 0px 2px 8px 0px rgba(0, 124, 246, 0.1);
}

.search-content .search-input {
	margin-bottom: 20px;
}

.search-content .search-input input {
	width: 85%;
	height: 42px;
}

.search-content .search-input button {
	font-size: 14px;
	padding: 8px 10px;
	margin-left: 20px;
}

.search-content .search-input button i {
	margin-left: 0;
	margin-right: 6px;
}

.search-content .single-checkbox label,
.search-content .single-radio label {
	margin-bottom: 2px;
}

/*  19.2: Search Actions */

.search-actions {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.search-actions .action-title {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 30px;
}

.search-actions .action-left {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 60%;
	-ms-flex: 0 0 60%;
	flex: 0 0 60%;
	max-width: 60%;
}

.search-actions .action-left .search-ordering label {
	margin-bottom: 0;
}

.search-actions .action-left .search-ordering select {
	width: 220px;
}

.search-actions .action-right {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 40%;
	-ms-flex: 0 0 40%;
	flex: 0 0 40%;
	max-width: 40%;
}

/*  19.3: Advanced Search Form */

.advance-search-form .search-input {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.advance-search-form .search-input input {
	width: 45%;
	height: 44px;
}

.advance-search-form .search-input button {
	text-align: center;
	margin-left: 20px;
	padding: 8px 60px;
}

.advance-search-form .search-input button i {
	margin-left: 0px;
	margin-right: 6px;
}

.advance-search-form .search-input button.disabled {
	cursor: default;
}

.advance-search-form .search-input button + button {
	margin-left: 40px;
}

.advance-search-form .advance-search-content {
	border-top: 4px solid #f0f2f4;
	border-bottom: 4px solid #f0f2f4;
	margin-top: 22px;
	padding-top: 60px;
	padding-bottom: 22px;
	display: none;
}

/*=============================================
=           20: Account          =
=============================================*/

/*  20.1: Account Block */

.account-block {
	padding: 70px 55px;
	-webkit-box-shadow: 0px 2px 8px 0px rgba(0, 124, 246, 0.1);
	box-shadow: 0px 2px 8px 0px rgba(0, 124, 246, 0.1);
}

.account-block .form-title {
	text-align: center;
	margin-bottom: 30px;
}

.account-block .form-title h4 {
	font-size: 30px;
}

.account-block .reset-links a:hover {
	text-decoration: underline;
}

.form-element.invalid label {
	color: #dc3545;
}

.form-element.invalid input {
	border-color: #dc3545;
}

.login-form .form-element,
.registration-form .form-element {
	margin-bottom: 20px;
}

.login-form .form-element label,
.registration-form .form-element label {
	margin-bottom: 3px;
}

.login-form .form-element .site-btn,
.registration-form .form-element .site-btn {
	font-size: 16px;
}

/*  20.2: Profile Content */

.profile-content .profile-img {
	text-align: center;
}

.profile-content .profile-img img {
	border-radius: 50%;
}

.profile-content .profile-name {
	margin-top: 12px;
}

.profile-content .profile-name h4 {
	font-size: 18px;
	font-weight: 600;
}

.profile-content .profile-info {
	margin-top: 30px;
}

.profile-content .profile-info .single-info-block {
	border: 1px solid #cccccc;
	padding: 15px;
}

.profile-content .profile-info .single-info-block:not(:last-child) {
	margin-bottom: 20px;
}

.profile-content .profile-info .single-info-block h5 {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 15px;
}

.profile-content .profile-info .single-info-block p {
	margin-bottom: 8px;
}

.profile-content .profile-info .single-info-block p i {
	margin-right: 4px;
	min-width: 16px;
}

.profile-form .form-element {
	margin-bottom: 15px;
}

/*=============================================
=           21: footer CSS           =
=============================================*/

.footer-area {
	position: relative;
	z-index: 2;
}

.footer-area:after {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	content: "";
	z-index: -1;
	background-color: #dddddd;
	opacity: .3;
}

/*  21.1: Footer Top */

.footer-top {
	padding-top: 85px;
	padding-bottom: 68px;
}

.footer-top .footer-left {
	max-width: 655px;
}

/* 21.2: Footer Bottom */

.footer-bottom {
	border-top: 1px dashed #dddfe0;
	padding-top: 14px;
	padding-bottom: 14px;
}

/*  21.3: Footer Weidget */

.footer-weidget .footer-logo {
	margin-top: -85px;
}

.footer-weidget .footer-logo img {
	width: 60%;
}

.footer-weidget .about-text {
	margin-top: 40px;
}

.footer-weidget .about-text p {
	font-size: 14px;
	line-height: 2;
}

.footer-weidget .location-info {
	margin-top: 60px;
}

.footer-weidget .location-info .single-location {
	max-width: 240px;
	margin: 0 auto;
}

.footer-weidget .location-info .single-location:not(:last-child) {
	margin-right: 15px;
}

.footer-weidget .location-info .single-location h5 {
	font-size: 16px;
	letter-spacing: 3px;
	margin-bottom: 22px;
	text-transform: uppercase;
	font-weight: 400;
}

.footer-weidget .location-info .single-location p {
	font-size: 14px;
	line-height: 2.14;
}

.footer-weidget .footer-head {
	margin-bottom: 25px;
	position: relative;
}

.footer-weidget .footer-head h4 {
	font-size: 20px;
	font-weight: 400;
}

.footer-weidget .footer-nav ul li:not(:last-child) {
	margin-bottom: 8px;
}

.footer-weidget .footer-nav ul li a {
	font-size: 14px;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

/*  21.3: Footer Copyright */

.copyright-text {
	font-size: 14px;
}

.copyright-text .company-name:hover {
	text-decoration: underline;
}

/*  21.4: Footer Bottom Menu */

.footer-bottom-menu ul li {
	display: inline-block;
	font-size: 14px;
}

.footer-bottom-menu ul li:not(:last-child) {
	margin-right: 25px;
}

.footer-bottom-menu ul li a {
	font-size: 14px;
}

/*=====  End of footer ======*/

/*=============================================
=           23: Button CSS           =
=============================================*/

/*  23.1: Default Button */

.site-btn {
	display: inline-block;
	font-size: 14px;
	letter-spacing: 1px;
	border-radius: 4px;
	padding: 8px 32px;
	-webkit-transition: 0.35s;
	-o-transition: 0.35s;
	transition: 0.35s;
	border: 1px solid #0d2481;
}

.site-btn svg,
.site-btn i,
.site-btn img {
	margin-left: 30px;
}

.site-btn:hover .cls-1 {
	fill: #0d2481;
}

.site-btn.btn-v2 {
	padding: 4px 28px;
}

.site-btn.btn-v2:hover {
	border-color: #ffffff;
}

.site-btn.btn-large {
	padding: 15px 38px;
	font-size: 16px;
}

.site-btn.btn-large.light-v1 {
	background-color: #0c2175;
}

.site-btn.btn-large.light-v1:hover {
	background-color: #ffffff;
}

/*  23.2: Icon Button */

.icon-btn i {
	margin-left: 18px;
}

/*  23.3: Video Play Button */

.video-play-btn {
	display: block;
	width: 86px;
	height: 86px;
	line-height: 82px;
	border: 5px solid #ffffff;
	text-align: center;
	border-radius: 50%;
	background-color: #8f9194;
}

.video-play-btn i {
	font-size: 24px;
}

/*=====  End of Button  ======*/

/*=============================================
=          24: Section Title CSS          =
=============================================*/

.section-title {
	max-width: 750px;
	margin-bottom: 66px;
}

.section-title h5 {
	margin-bottom: 25px;
}

.section-title h4 {
	font-size: 38px;
	font-weight: 400;
	margin-bottom: 22px;
}

.section-title p {
	font-size: 16px;
}

.section-title.section-title-v2 .line-title {
	color: #98a5d9;
}

.section-title.section-title-v2 .line-title:after {
	background-color: #98a5d9;
}

.section-title.section-title-v3 {
	max-width: 385px;
}

.section-title.section-title-v4 h4 {
	margin-bottom: 42px;
}

.section-title.section-title-v4 p {
	font-size: 18px;
	color: #98a5d9;
}

/*=============================================
=          25: Breadcrumb CSS          =
=============================================*/

.breadcrumb-area {
	padding-top: 190px;
	background-attachment: fixed !important;
}

/*  25.1: Breadcrumb Content */

.breadcrumb-content {
	position: relative;
	padding: 70px;
	padding-top: 80px;
	border-top: 3px solid #0d2481;
	border-radius: 4px 4px 0 0;
	z-index: 2;
}

.breadcrumb-content:after {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 4px 4px 0 0;
	content: "";
	z-index: -1;
	background-color: rgba(255, 255, 255, 0.85);
}

.breadcrumb-content h2 {
	font-size: 50px;
	margin-bottom: 18px;
	font-weight: 500;
}

/*=============================================
=           26: Accordions            =
=============================================*/

.accordion-block .line-title {
	margin-bottom: 25px;
}

/*  26.1: Single Accordion */

.single-accordion:not(:last-child) {
	margin-bottom: 12px;
}

.single-accordion.active .accordion-text {
	display: block;
}

.single-accordion .accordion-title {
	font-size: 14px;
	background-color: #eef6fb;
	padding: 15px;
	line-height: 1.9;
	cursor: pointer;
	position: relative;
}

.single-accordion .accordion-title:after {
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -22px;
	font-size: 24px;
	content: "+";
}

.single-accordion .accordion-text {
	padding: 15px;
	display: none;
}

.single-accordion .accordion-text p {
	margin-top: 25px;
}

/*=====  End of accordions  ======*/

/*=============================================
=           27: scroll top  CSS         =
=============================================*/

.backToTop {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	position: fixed;
	bottom: 35px;
	right: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
	z-index: 99;
	-webkit-box-shadow: 0px 2px 6px 6px rgba(0, 0, 0, 0.06);
	box-shadow: 0px 2px 6px 6px rgba(0, 0, 0, 0.06);
}

.backToTop.show {
	opacity: 1;
	visibility: visible;
}

.backToTop a i {
	font-size: 18px;
}

/*=====  End of scroll top  ======*/

@media only screen and (min-width: 1200px) {

.mega-menu-inner .submenu-button {
	display: none;
}

}

@media only screen and (max-width: 1199px) {

h2 {
	font-size: 36px;
}

h3 {
	font-size: 32px;
}

.logo {
	-webkit-box-flex: 0;
	-webkit-flex: 0 18%;
	-ms-flex: 0 18%;
	flex: 0 18%;
	width: 18%;
}

.logo img {
	padding-left: 20px;
}

.main-menu {
	-webkit-box-flex: 0;
	-webkit-flex: 0 54%;
	-ms-flex: 0 54%;
	flex: 0 54%;
	width: 54%;
	padding-left: 20px;
}

.main-menu nav > ul > li > a {
	padding: 30px 4px;
}

.contact-meta .phone-no {
	margin-right: 4px;
}

.contact-meta .site-btn.btn-v2 {
	padding: 5px 8px;
}

.advance-search-form .search-input button {
	padding: 8px 40px;
}

}

@media only screen and (max-width: 991px) {

h2 {
	font-size: 36px;
}

h3 {
	font-size: 28px;
}

.section-space--inner--r95 {
	padding-top: 60px;
	padding-bottom: 60px;
}

.section-space--inner--r110 {
	padding-top: 80px;
	padding-bottom: 80px;
}

.section-space--inner--top--r120 {
	padding-top: 80px;
}

.section-space--inner--bottom--r95 {
	padding-bottom: 60px;
}

.section-space--inner--bottom--r120 {
	padding-bottom: 80px;
}

.outer-space--r80 {
	margin-bottom: 60px;
}

.space-md-b90 {
	margin-bottom: 90px;
}

.header-navigation {
	background-color: #fff;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.logo {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 100%;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	width: 100%;
	text-align: center;
}

.main-menu {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 80%;
	-ms-flex: 0 0 80%;
	flex: 0 0 80%;
	width: 80%;
}

.main-menu nav > ul > li.has-submenu > a:after {
	display: none;
}

.contact-meta {
	display: none;
}

.single-slider h2 {
	font-size: 40px;
}

.single-slider p {
	margin-bottom: 60px;
}

.blog-area .more-btn.text-right {
	text-align: center !important;
}

.pagination {
	margin-top: 30px;
}

.single-article-content .article-img {
	margin-right: 0px;
	margin-bottom: 30px;
}

.service-list-area.section-space--inner--r95 {
	padding-bottom: 30px;
}

.service-video {
	margin-bottom: 60px;
}

.major-service-inner {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
}

.major-service-inner .service-bottom-action {
	margin-top: 90px;
}

.cta-contact {
	margin-top: 45px;
}

.cta-contact .phone-num {
	margin-bottom: 40px;
}

.about-info-inner .cta-content {
	padding-top: 60px;
}

.about-info-inner .about-info-action {
	text-align: center;
}

.about-info-inner .about-info-img {
	text-align: center;
	margin-top: 40px;
}

.team-members-area.section-space--inner--r95 {
	padding-bottom: 45px;
}

.team-members-area.section-space--inner--bottom--r95 {
	padding-bottom: 45px;
}

.mission-video-bg {
	min-height: 350px;
	margin-top: 30px;
}

.contact-form {
	padding: 50px;
}

.contact-details {
	padding: 60px 40px;
}

.search-content .search-input input {
	width: 60%;
}

.search-actions .action-left .search-ordering {
	margin-top: 20px;
}

.advance-search-form .search-input input {
	width: 45%;
}

.advance-search-form .search-input button {
	padding: 8px 16px;
	margin-left: 15px;
}

.advance-search-form .search-input button + button {
	margin-left: 15px;
}

.footer-top {
	padding-bottom: 60px;
}

.footer-top .footer-left {
	margin-bottom: 65px;
}

.footer-bottom {
	text-align: center;
}

.footer-bottom .footer-bottom-menu {
	margin-top: 15px;
	text-align: center !important;
}

.footer-weidget {
	margin-bottom: 20px;
}

.breadcrumb-area {
	padding: 100px;
}

.breadcrumb-content {
	padding: 40px;
}

.backToTop {
	bottom: 80px;
}

}

@media only screen and (max-width: 767px) {

h2 {
	font-size: 30px;
}

h3 {
	font-size: 25px;
}

.section-space--inner--r95 {
	padding-top: 40px;
	padding-bottom: 40px;
}

.section-space--inner--r110 {
	padding-top: 60px;
	padding-bottom: 60px;
}

.section-space--inner--top--r120 {
	padding-top: 60px;
}

.section-space--inner--bottom--r95 {
	padding-bottom: 40px;
}

.section-space--inner--bottom--r120 {
	padding-bottom: 60px;
}

.outer-space--r80 {
	margin-bottom: 40px;
}

.hero-slider {
	margin: 60px 0;
	padding-left: 40px;
	padding-right: 30px;
}

.single-slider h2 {
	font-size: 32px;
}

.single-slider p {
	margin-bottom: 40px;
}

.recent-work-wrap {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
}

.recent-work-wrap .recent-work-left {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 100%;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
	margin-right: 0;
}

.recent-work-wrap .recent-work-left .section-title {
	padding-left: 0;
	margin-bottom: 40px;
}

.recent-work-wrap .recent-work-right {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 100%;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
	margin-right: 0;
	padding-left: 5%;
}

.recent-work-wrap .recent-work-right .portfolio-slider {
	padding: 0 60px;
}

.recent-work-wrap .recent-work-right .owl-dots {
	left: 0;
}

.service-list-area.section-space--inner--r95 {
	padding-bottom: 10px;
}

.major-service-inner .service-right-content {
	padding: 80px;
	padding-bottom: 75px;
}

.major-service-inner .service-bottom-action {
	display: none;
}

.cta-content h2 {
	font-size: 32px;
}

.single-about-counter .counter-content .count {
	font-size: 48px;
}

.team-members-area.section-space--inner--r95 {
	padding-bottom: 25px;
}

.team-members-area.section-space--inner--bottom--r95 {
	padding-bottom: 25px;
}

.contact-block-inner {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
	margin-top: -40%;
}

.contact-form {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 100%;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

.contact-details {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 100%;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

.search-content {
	padding: 50px 25px;
}

.advance-search-form .search-input {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
}

.advance-search-form .search-input input {
	width: 100%;
}

.advance-search-form .search-input button {
	margin-left: 0;
	margin-top: 20px;
}

.advance-search-form .search-input button + button {
	margin-left: 0;
}

.account-block {
	padding: 50px 25px;
}

.section-title h4 {
	font-size: 32px;
}

.breadcrumb-content h2 {
	font-size: 36px;
}

}

@media only screen and (max-width: 575px) {

.line-title {
	padding-left: 0;
	font-size: 1x;
}

.line-title:after {
	display: none;
}

.single-blog h4 {
	font-size: 24px;
}

.single-service-slider .video-service-content {
	padding: 55px 40px 95px 40px;
}

.single-service-slider p {
	font-size: 18px;
}

.single-service-slider .author-name {
	font-size: 26px;
}

.cta-contact {
	text-align: center;
}

.cta-contact .contact-icon {
	margin-left: 0;
}

.cta-contact .phone-num {
	font-size: 26px;
}

.about-info-inner .about-counter {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
	text-align: center;
	margin-top: 30px;
}

.team-member-list {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
}

.team-member-element {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 100%;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.vission-mission-content .top-title {
	font-size: 30px;
}

.testimonial-content {
	margin-bottom: 40px;
}

.footer-top {
	padding-bottom: 20px;
}

.footer-top .footer-left {
	margin-bottom: 30px;
}

.footer-weidget {
	text-align: center;
}

.footer-weidget .footer-logo img {
	width: 100%;
}

.footer-weidget .about-text {
	margin-top: 30px;
}

.footer-weidget .location-info {
	margin-top: 40px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
}

.footer-weidget .location-info .single-location:not(:last-child) {
	margin-right: auto;
	margin-bottom: 20px;
}

.footer-weidget .location-info .single-location h5 {
	margin-bottom: 15px;
}

.footer-weidget .footer-head {
	margin-bottom: 20px;
}

.footer-weidget .footer-head h4 {
	font-size: 18px;
}

.footer-weidget .footer-nav ul li:not(:last-child) {
	margin-bottom: 4px;
}

.section-title h4 {
	font-size: 28px;
}

.backToTop {
	bottom: 105px;
}

}

@media only screen and (max-width: 479px) {

.logo {
	text-align: right;
}

.logo img {
	padding-left: 100px;
	padding-right: 20px;
}

.mobile-menu .mean-bar .meanmenu-reveal {
	left: -10px !important;
}

.mobile-menu .mean-bar .meanmenu-reveal {
	left: -20px !important;
}

.hero-slider {
	padding-left: 15px;
	padding-right: 20px;
}

.single-slider {
	padding-left: 45px;
}

.single-slider h2 {
	font-size: 26px;
}

.single-slider h2:after {
	display: none;
}

.client-slider .signle-client img {
	margin: 0 auto;
}

.pagination ul li span,
.pagination ul li a {
	padding: 12px 16px;
}

.pagination ul li span,
.pagination ul li a {
	font-size: 14px;
	padding: 12px 12px;
}

.single-article-top h4 {
	font-size: 26px;
}

.single-service.service-v2 {
	padding: 30px 20px;
}

.major-service-inner .service-right-content {
	padding: 40px;
}

.cta-content h2 {
	font-size: 26px;
}

.about-info-inner .about-info-action {
	display: none;
}

.search-content .search-input input {
	width: 100%;
}

.search-content .search-input button {
	width: 100%;
	margin-left: 0;
	margin-top: 20px;
}

.search-actions .action-title {
	font-size: 18px;
}

.search-actions .action-left .search-ordering select {
	width: 130px;
}

.site-btn svg,
.site-btn i,
.site-btn img {
	margin-left: 20px;
}

.site-btn.btn-large {
	padding: 15px 20px;
}

.breadcrumb-area {
	padding: 30px;
}

.breadcrumb-content {
	padding: 30px;
}

}

@media only screen and (max-width: 379px) {

.single-slider h2 {
	font-size: 22px;
}

.single-major-service .major-service-text {
	padding: 10px 40px 20px 30px;
}

.contact-form {
	padding: 30px;
}

.login-form .form-element,
.registration-form .form-element {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
}

.login-form .form-element .remember-checkbox,
.registration-form .form-element .remember-checkbox {
	margin-top: 20px;
}

.breadcrumb-area {
	padding: 15px;
}

.breadcrumb-content h2 {
	font-size: 32px;
}

}

@-webkit-keyframes zoomInOut {

0% {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

50% {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

}

@keyframes zoomInOut {

0% {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

50% {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

}

