/*=============================================
=           13: About  CSS          =
=============================================*/

/*  13.1: About Info */
.about-info-inner{
    padding-right: 50px;
    padding-bottom: 60px;
    padding-left: 50px;
    @extend .theme-secondary-bg;
    .cta-content{
        padding-top: 100px;
        @include tab{
            padding-top: 60px;
        }
        h2{
            line-height: 1.5;
            margin-bottom: 40px;
        }
    }
    .about-counter{
        margin-top: 75px;
        @include mobileMd{
            flex-flow: column;
            text-align: center;
            margin-top: 30px;
        }
    }
    .about-info-action{
        margin-top: 40px;
        @include tab{
            text-align: center;
        }
        @include mobileSm{
            display: none;
        }
        .site-btn{
            font-size: 14px;
            letter-spacing: 0px;
            padding: 15px 30px;
            i{
                margin-left: 25px;
            }
        }
    }
    .about-info-img{
        @include tab{
            text-align: center;
            margin-top: 40px;
        }
    }
}

/*  13.2: About Counter */
.single-about-counter{
    .counter-content{
        .count{
            font-size: 60px;
            font-weight: $semi-bold;
            line-height: 1;
            @extend .color-white;
            @include mobileLg{
                font-size: 48px;
            }
        }
        span{
            font-size: 30px;
            line-height: 2.5;
            color: rgba(152 ,  165,  217, 1);
        }
    }
}