/*=============================================
=           20: Account          =
=============================================*/

/*  20.1: Account Block */
.account-block{
    padding: 70px 55px;
    box-shadow: 0px 2px 8px 0px rgba(0, 124, 246, 0.1);
    @extend .color-white-bg;
    @include mobileLg{
        padding: 50px 25px;
    }
    .form-title{
        text-align: center;
        margin-bottom: 30px;
        h4{
            font-size: 30px;
        }
    }
    .reset-links{
        a{
            @extend .theme-secondary;
            &:hover{
                text-decoration: underline;
                @extend .theme-default;
            }
        }
    }
}

.form-element{
    &.invalid{
        label{
            color: $danger;
        }
        input{
            border-color: $danger;
        }
    }
}


.login-form , .registration-form{
    .form-element{
        margin-bottom: 20px;
        @include mobileXs{
            flex-flow: column;
        }
        .remember-checkbox{
            @include mobileXs{
                margin-top: 20px;
            }
        }
        
        label{
            margin-bottom: 3px;
        }
        .site-btn{
            font-size: 16px;
        }
    }
}

/*  20.2: Profile Content */
.profile-content{
    .profile-img{
        text-align: center;
        img{
            border-radius: 50%;
        }
    }
    .profile-name{
        margin-top: 12px;
        h4{
            font-size: 18px;
            font-weight: $semi-bold;
        }
    }

    .profile-info{
        margin-top: 30px;
        .single-info-block{
            border: 1px solid #cccccc;
            padding: 15px;
            &:not(:last-child){
                margin-bottom: 20px;
            }
            h5{
                font-size: 16px;
                font-weight: $semi-bold;
                margin-bottom: 15px;
            }
            p{
                margin-bottom: 8px;
                i{
                    margin-right: 4px;
                    min-width: 16px;
                }
            }
        }
    }
}


.profile-form{
    .form-element{
        margin-bottom: 15px;
    }
}