/*=============================================
=            08: Blog  CSS       =
=============================================*/
.blog-area{
    .more-btn{
        margin-top: -30px;
        &.text-right{
            @include tab{
                text-align: center !important;
            }
        }
    }
}

/*  8.1: Single Blog */
.single-blog{
    h4{
        font-size: 30px;
        font-weight: $regular;
        margin-bottom: 60px;
        @include mobileMd{
            font-size: 24px;
        }
        a{
            &:hover{
                text-decoration: underline;
            }
        }
    }
    .blog-img{
        margin-bottom: 45px;
        a{
            display: block;
        }
        img{
            border-radius: 4px;
            width: 100%;
        }
    }
    .blog-text{
        p{
            margin-bottom: 25px;
        }
    }
    &.blog-v2{
        margin-bottom: 75px;
        h4{
            margin-bottom: 18px;
        }
        .blog-date{
            font-size: 12px;
            i{
                margin-right: 6px;
            }
        }
        .blog-text{
            margin-top: 30px;
            p{
                margin-top: -8px;
                margin-bottom: 30px;
            }
        }
    }
    &.blog-v3{
        box-shadow: 0px 2px 8px 0px rgba(0, 124, 246, 0.1);
        margin-bottom: 30px;
        .blog-img{
            margin-bottom: 0;
            img{ 
                border-radius: 4px 4px 0 0;
            }
        }
        .blog-content{
            padding: 30px;
            h4{
                font-size: 24px;
                margin-bottom: 10px;  
                @extend .theme-secondary;
            }
            .blog-text{
                p{
                    margin-bottom: 20px;
                }
            }
        }
    }
}

/*  8.2: Blog Meta */
.blog-meta{
    position: relative;
    margin-bottom: 20px;
    &.line-title{
        letter-spacing: 0px;
        &:after{
           @extend .theme-default-bg; 
        }
    }
    ul{
        li{
            display: inline-block;
            font-size: 14px;
            &:not(:last-child){
                position: relative;
                padding-right: 12px;
                margin-right: 12px;
                &::after{
                    position: absolute;
                    right: 0;
                    top: 0;
                    height: 100%;
                    width: 1px;
                    content: '/';
                }
            }
        }
    }
    &.blog-meta-v2{
        ul{
            li{
                font-size: 12px;
                &:not(:last-child){
                    margin-right: 9px;
                    padding-right: 9px;
                }
                &:after{
                    display: none;
                }
            }
        }
    }
}

/*  8.3: More Item List */
.more-items-list{
    box-shadow: 0px 2px 8px 0px rgba(0, 124, 246, 0.1);
    padding: 14px;
    @extend .color-white-bg;
    ol{
        margin-bottom: 0;
    }
    li{
        a{
            padding: 8px 0;
        }
    }
}

/*  8.4: Pagination */
.pagination{
    margin-top: 90px;
    @include tab{
        margin-top: 30px;
    }
    ul{
        display: flex;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        li{
            display: inline-block;
            &:first-child{
                span{
                    border-radius: 4px 0 0 4px;
                    border-left-width: 1px;
                }
            }
            a{
                @extend .theme-secondary;
                &:hover{
                    color: #4d4d4d;
                    background-color: #f5f5f5;
                }
            }
            span,a{
                display: block;
                padding: 12px 28px;
                border: 1px solid #ddd;
                border-left-width: 0px;
                @extend .color-white-bg;
                @include mobileSm{
                    padding: 12px 16px;
                }
                @include mobileSm{
                    font-size: 14px;
                    padding: 12px 12px;
                }
            }
        }
    }
}

/*  8.5: Blog Details */

.single-article-top{
    margin-bottom: 30px;
    h4{
        font-size: 30px;
        margin-bottom: 22px;
        @include mobileSm{
            font-size: 26px;
        }
    }
}

.single-article-content{
    .article-img{
        margin-right: 25px;
        @include tab{
            margin-right: 0px;
            margin-bottom: 30px;
        }
    }
    .article-text{
        p{
            color: #666;
            line-height: 1.9;
        }
    }
    .article-bottom-action{
        margin-top: 45px;
        a{
            display: inline-block;
            padding: 5px 14px;
            border: 1px solid #ddd;
            border-radius: 15px;
            @extend .color-white-bg;
            &:hover{
                background-color: #f5f5f5;
            }
            i{
                font-size: 24px;
                font-weight: $bold;
            }
            &.prev-btn{
                i{
                    margin-right: 6px;
                }
            }
            &.next-btn{
                i{
                    margin-left: 6px;
                }
            }
        }
    }
}