/*=============================================
=           17: Contact CSS         =
=============================================*/
.contact-block-inner{
    box-shadow: 0px 0px 10px 0px rgba(224 , 227, 230, 1);
    margin-top: -20%;
    margin-bottom: 90px;
    @include mobileLg{
        flex-flow: column;
        margin-top: -40%;
    }
}
/*=====  17.1: Contact Form  ======*/
.contact-form{
    flex: 0 0 60%;
    max-width: 60%;
    position: relative;
    padding: 65px;
    z-index: 2;
    background-color: rgba(255 ,  255,  255, 0.85);
    @include tab{
        padding: 50px;
    }
    @include mobileLg{
        flex: 0 0 100%;
        max-width: 100%;
    }
    @include mobileXs{
        padding: 30px;
    }
    .form-element{
        font-size: 14px;
        &:not(:last-child){
            margin-bottom: 22px;
        }
        input , textarea{
            width: 100%;
            line-height: 38px;
            border: 1px solid #ddd;
            border-radius: 4px;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            padding: 5px 6px;
            padding-left: 20px;
        }
        textarea{
            min-height: 150px;
        }
        button{
            width: 100%;
        }
    }
}


/*=====  17.2: Contact Detalils  ======*/
.contact-details{
    flex: 0 0 40%;
    max-width: 40%;
    padding: 100px 110px;
    position: relative;
    background-color: rgba(12 , 33, 117, 0.9);
    @include tab{
        padding: 60px 40px;
    }
    @include mobileLg{
        flex: 0 0 100%;
        max-width: 100%;
    }
    h4{
        font-size: 25px;
        color: rgba(255 , 255, 255, 0.8);
        margin-bottom: 40px;
    }
    .social-link{
        margin-top: 45px;
        ul{
            li{
                display: inline-block;
                &:not(:last-child){
                    margin-right: 26px;
                }
                a{
                    i{
                        font-size: 24px;
                        @extend .color-white;
                    }
                }
            }
        }
    }
}

.contact-info-list{
    ul{
        li{
            font-size: 16px;
            @extend .color-white;
            &:not(:last-child){
                margin-bottom: 25px;
            }
            i{
                margin-right: 10px;
                min-width: 24px;
                font-size: 24px;
            }
            .info-text {
                margin-top: -4px;
            }
        }
    }
}