
/*=============================================
=           12: CTA  CSS          =
=============================================*/

/*  12.1: CTA Content */
.cta-content{
    max-width: 790px;
    h5{
        font-size: 16px;
        font-family: $noto-sans;
        color: #98a5d9;
        &.line-title{
            &:after{
                background-color:#98a5d9;
            }
        }
    }
    h2{
        font-size: 40px;
        margin-top: 12px;
        margin-bottom: 25px;
        @extend .color-white;
        @include mobileLg{
            font-size: 32px;
        }
        @include mobileSm{
            font-size: 26px;
        }
    }
    p{
        color: #98a5d9;
    }
}

.cta-contact{
    @include tab{
        margin-top: 45px;
    }
    @include mobileMd{
        text-align: center;
    }
    .contact-icon{
        margin-left: 80px;
        margin-bottom: 35px;
        @include mobileMd{
            margin-left: 0;
        }
    }
    .phone-num{
        font-size: 30px;
        letter-spacing: 1.5px;
        font-weight: $regular;
        margin-bottom: 55px;
        @extend .color-white;
        @include tab{
            margin-bottom: 40px;
        }
        @include mobileMd{
            font-size: 26px;
        }
    }
}