/*=============================================
=           18: Error CSS         =
=============================================*/
.error-area{
    display: flex;
    align-items: center;
    height: 100vh;
}
.error-content{
    box-shadow: 0px 2px 8px 0px rgba(0, 124, 246, 0.1);
    padding: 40px;
    h2{
        font-size: 140px;
        font-weight: $bold;
        letter-spacing: .5px;
        span{
            color: $danger;
            font-size: 100px;
            display: inline-block;
            animation: zoomInOut 2s infinite ease-in-out
        }
    }
    .error-text{
        font-size: 24px;
        display: inline-block;
        margin-bottom: 40px;
        margin-top: 10px;
    }
}