
/*=============================================
=           21: footer CSS           =
=============================================*/
.footer-area{
    position: relative;
    z-index: 2;
    &:after{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        content: "";
        z-index: -1;
        background-color: rgba(221 , 221, 221, 1);
        opacity: .3; 
    }
}

/*  21.1: Footer Top */
.footer-top{
    padding-top: 85px;
    padding-bottom: 68px;
    @include tab{
       padding-bottom: 60px;
    }
    @include mobileMd{
        padding-bottom: 20px;
    }
    .footer-left{
        max-width: 655px;
        @include tab{
            margin-bottom: 65px;
        }
        @include mobileMd{
            margin-bottom: 30px;
        }
    }
}

/* 21.2: Footer Bottom */
.footer-bottom{
    border-top: 1px dashed rgba(221 , 223, 224, 1);
    padding-top: 14px;
    padding-bottom: 14px;
    @include tab{
        text-align: center;
        .footer-bottom-menu{
            margin-top: 15px;
            text-align: center !important;
        }
    }
}

/*  21.3: Footer Weidget */
.footer-weidget{
    @include tab{
        margin-bottom: 20px;
    }
    @include mobileMd{
        text-align:center;
    }
    .footer-logo{
        margin-top: -85px;
        img{
            width: 60%;
            @include mobileMd{
                width: 100%;
            }
        }
    }
    .about-text{
        margin-top: 40px;
        @include mobileMd{
            margin-top: 30px;
        }
        p{
            font-size: 14px;
            line-height: 2;
        }
    }
    .location-info{
        margin-top: 60px;
        @include mobileMd{
            margin-top: 40px;
            flex-flow: column;
        }
        .single-location{
            max-width: 240px;
            margin:0 auto;
            &:not(:last-child){
                margin-right: 15px;
                @include mobileMd{
                    margin-right: auto;
                    margin-bottom: 20px;
                }
            }
            h5{
                font-size: 16px;
                letter-spacing: 3px;
                margin-bottom: 22px;
                text-transform: uppercase;
                font-weight: $regular;
                @include mobileMd{
                    margin-bottom: 15px;
                }
            }
            p{
                font-size: 14px;
                line-height: 2.14;
            }
        }
    }
	.footer-head{
        margin-bottom: 25px;
        position: relative;
        @include mobileMd{
            margin-bottom: 20px;
        }
		h4 {
            font-size: 20px;
            font-weight: $regular;
            @extend .theme-black;
            @include mobileMd{
                font-size: 18px;
            }
        }
			
    }
    .footer-nav{
        ul {
            li {
                &:not(:last-child){
                    margin-bottom: 8px;
                    @include mobileMd{
                        margin-bottom: 4px;
                    }
                }
                    
                a {
                    font-size: 14px;
                    transition: .3s;
                    &:hover{
                        @extend .theme-default;
                    }	
                }	
            }	
        }		
    }
}
	
/*  21.3: Footer Copyright */
.copyright-text{
    font-size: 14px;
    .company-name{
        &:hover{
            @extend .theme-secondary;
            text-decoration: underline;
        }
    }
}

/*  21.4: Footer Bottom Menu */
.footer-bottom-menu{
    ul{
        li{
            display: inline-block;
            font-size: 14px;
            &:not(:last-child){
                margin-right: 25px;
            }
            a{
                font-size: 14px;
                
            }
        }
    }
}

/*=====  End of footer ======*/


