
/*=============================================
=           05: Header CSS           =
=============================================*/
.main-header {
    &.sticky{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        animation: fadeInDown 0.4s ease 0s 1;
    }
}
.header-navigation{
    position: relative;
    @extend .theme-secondary-bg;
    @include tab{
        background-color: #fff;
        justify-content: center;
    }
}

/*  5.1: Logo */
.logo{
    flex: 0 20%;
    width: 20%;
    line-height: 90px;
    @extend .theme-heading-bg;
    @include medium{
        flex: 0 18%;
        width: 18%;
    }
    @include tab{
        flex: 0 0 100%;
        width: 100%;
        text-align: center;
    }
    @include mobileSm{
        text-align: right;
    }
    img{
        padding: 0 50px;
        padding-left: 40px;
        @include medium{
            padding-left: 20px;
        }
        @include mobileSm{
            padding-left: 100px;
            padding-right: 20px;
        }
    }
}

/*  5.2: Main Menu */
.main-menu{
    position: relative;
    flex: 0 52%;
    width: 52%;
    padding-left: 35px;
    @include medium{
        flex: 0 54%;
        width: 54%;
        padding-left: 20px;
    }
    @include tab{
        flex: 0 0 80%;
        width: 80%;
    }
    nav{
        >ul{
            >li{
                display: inline-block;
                position: relative;
                &:hover{
                    .mega-menu-inner{
                        opacity: 1;
                        visibility: visible;
                    }
                }
                &.active{
                    a{
                        @extend .color-white;
                    }
                    .mega-menu-inner{
                        >li{
                            ul{
                                li{
                                    a{
                                        color: #8e8e8e;
                                        &:hover{
                                            @extend .theme-secondary;
                                        }
                                    }
                                    &.active{
                                        a{
                                            @extend .theme-secondary;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &.has-submenu{
                    >a{
                        position: relative;
                        &:after{
                            position: absolute;
                            font-size: 24px;
                            right: -20px;
                            top:50%;
                            margin-top: -20px;
                            content: "\f107";
                            font-family: 'fontAwesome';
                            @include tab{
                                display: none;
                            }
                        }
                        &:hover{
                            @extend .color-white;
                        }
                    }
                    
                }
                >a{
                    padding: 30px 14px; 
                    font-size: 15px;
                    color: rgba(152, 165, 217, 1);
                    letter-spacing: 2px;
                    @include medium{
                        padding: 30px 4px;
                    }
                    &:hover , &.active{
                        @extend .color-white;
                    }
                }
                &.mega-item{
                    position: static;
                }
                .mega-menu-inner{
                    position: absolute;
                    left: 50%;
                    right: 0;
                    top: 101%;
                    overflow: hidden;
                    z-index: 99;
                    min-width: 100%;
                    margin-left: -15px;
                    padding: 30px;
                    text-align: left;
                    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.14);
                    opacity: 0;
                    visibility: hidden;
                    transition: .4s;
                    @extend .color-white-bg;
                }
            }
        }
    }
}

.mega-menu-inner{
    display: flex;
    flex-wrap: wrap;
    >li{
        flex: 0 0 33.3333%;
        width: 0 0 33.3333%;
        &:not(:last-child){
            border-right: 1px dotted #eee;
        }
        >a , span{
            padding: 12px 15px;
            display: block;
            @extend .theme-black;
        }
        ul{
            
            li{
                a{
                    font-size: 13px;
                    font-weight: $medium;
                    padding: 12px 15px;
                    letter-spacing: 2px;
                    color: #8e8e8e;
                    &:hover{
                        @extend .theme-secondary;
                    }
                }
            }
        }
    }
    .submenu-button{
        @include large{
            display: none;
        }
    }
}

.contact-meta{
    flex: 0 28%;
    width: 28%;
    padding-right:40px;
    @include tab{
        display: none;
    }
    .phone-no{
        font-size: 15px;
        letter-spacing: 1px;
        margin-right: 10px;
        @extend .color-white;
        @include medium{
            margin-right: 4px;
        }
        i{
            font-size: 16px;
            margin-right: 6px;
        }
    }
    .site-btn{
        &.btn-v2{
            padding: 7px 28px;
            @include medium{
                padding: 5px 8px;
            }
        }
    }
}

/*  5.3: Mobile Menu */

.mobile-menu{
	.mean-bar{
        position:relative;
        min-height: 0px;
        padding: 0;
        .mean-nav{
			background-color: #ffffff;
		    position: relative;
		    top: 0;
		    z-index: 999999;
            box-shadow:0 2px 7px #e6ebee;
            margin-top: 0 !important;
		    >ul{
		    	margin-bottom: 0px;
                overflow-x: hidden;
                max-height: 380px;
                overflow-y: auto;
			    li{
			    	position: relative;
				    display: block;
				    float: left;
				    width: 100%;
				    a{
				    	font-size: 16px;
					    display: block;
					    font-weight: 600;
					    text-transform: capitalize;
					    line-height: 44px;
					    position: relative;
					    border-top: 1px solid #eeeeee;
                        padding: 4px 40px 4px 20px;
                        @extend .theme-default;
                        &:hover{
                            @extend .theme-secondary;
                        }
				    }
				    a.mean-expand{
				    	border: 1px solid $theme-color--secondary !important;
					    position: absolute;
					    right: 0px;
					    top: 0px;
					    font-size: 20px !important;
					    line-height: 24px;
					    height: 24px;
					    width: 20px;
					    text-align: center;
                        padding: 0;
                        transition:.3s;
                        @extend .theme-secondary-bg;
                        @extend .color-white;
                       &:hover{
                           background-color: #ffffff;
                           @extend .theme-secondary;
                       } 
                    }
                    .mega-menu-inner , ul , ul ul{
                        position: static;
                        background-color: rgba(0, 0, 0, 0.03);
                        margin: 0;
                        padding: 0 !important;
                        width: 100%;
                        box-shadow: none;
                        margin: 0;
                        display: none;
                        float: left;
                        width: 100%;
                        opacity: 1;
                        visibility: visible;
                        z-index: 1;
                        transition: none;
                    }
                    ul , .mega-menu-inner li{
                        padding: 0;
                        margin: 0;
                        flex: 0 0 100%;
                        border-right: 0px solid transparent;
                        width: 100%;
                        display: block;
                        float: left;
                        width: 100%;
                    }
			    }
		    }
		}
		.meanmenu-reveal{
			position:absolute;
			left: -60px !important;
			top:-55px;
            z-index:999;
            padding-bottom: 0;
            padding-left: 0;
            padding-top: 6px;
            line-height: 10px;
            height: 12px;
            cursor: pointer;
			@include mobileSm {
		       left: -10px !important;
		    }
			@include mobileSm {
		       left: -20px !important;
		    }
			span.menu-bar{
				height: 2px;
			    width: 35px;
			    background-color: #fff;
			    display: block;
			    margin: 2px 0;
			    &:before,&:after{
			    	content: "";
				    position: absolute;
				    left: 0;
				    width: 100%;
				    height: 2px;
				    background-color: #fff;
			    }
			    &:after{
			    	bottom:0;
			    }
			    &:before{
			    	top:0;
			    }
			}
			span.menu-close{
			    height: 2px;
			    width: 26px;
			    background-color: $theme-color--heading !important;
			    display: block;
			    margin: 8px 0;
			    position:relative;
				&:after,&:before{
					content: "";
				    position: absolute;
				    left: 0;
				    width: 100%;
				    height: 100%;
				    background-color: #fff;
				}
				&:after{
					bottom: 0;
				    -webkit-transform: rotate(-45deg);
				    -ms-transform: rotate(-45deg);
				    transform: rotate(-45deg);
				}
				&:before{
					top: 0;
				    -webkit-transform: rotate(45deg);
				    -ms-transform: rotate(45deg);
				    transform: rotate(45deg);
				}
			}
		}
	}
}

.mean-remove {
	display: none !important;
}
			
	
		
			
                

/*=====  End of Header  ======*/