/*=============================================
=        15: Mission & Vission CSS          =
=============================================*/
.vission-mission-area{
    @extend .theme-secondary-bg;
}

/*  15.1: Mission & Vission Content */
.vission-mission-content{
    .line-title{
        color: rgba(152 , 165, 217, 1);
        margin-bottom: 25px;
        &:after{
            background-color: rgba(152 , 165, 217, 1)
        }
    }
    .top-title{
        display: inline-block;
        font-size: 38px;
        font-family: $noto-serif;
        line-height: 1.5;
        margin-bottom: 20px;
        @extend .color-white;
        @include mobileMd{
            font-size: 30px;
        }
    }
    p{
        color: rgba(152 , 165, 217, 1);
    }
    .highlight-area{
        background-color: rgba(11 , 32, 115, 1);
        padding: 40px;
        border-radius: 4px;
        margin-bottom: 20px;
        p{
            font-size: 20px;
            @extend .color-white;
        }

    }
}

/*  15.2: Mission Video Bg */
.mission-video-bg{
    min-height: 255px;
    border-radius: 4px;
    @include tab{
        min-height: 350px;
        margin-top: 30px;
    }
    .video-play-btn{
        background-color: transparent;
    }
}