/*=============================================
=          08: Portfolio  CSS       =
=============================================*/

.recent-work-wrap{
    @include mobileLg{
        flex-flow: column;
    }
    .recent-work-left{
        flex: 0 0 35%;
        max-width: 35%;
        margin-right: 5%;
        padding-left: 5%;
        @include mobileLg{
            flex: 0 0 100%;
            max-width: 100%;
            margin-right: 0;
        }
        .section-title{
            margin-bottom: 0;
            @include mobileLg{
                padding-left: 0;
                margin-bottom: 40px;
            }
        }
    }
    .recent-work-right{
        flex: 0 0 60%;
        max-width: 60%;
        position: relative;
        @include mobileLg{
            flex: 0 0 100%;
            max-width: 100%;
            margin-right: 0;
            padding-left:5%;
        }
        .portfolio-slider{
            @include mobileLg{
                padding: 0 60px;
            }
        }
        .owl-dots{
            position: absolute;
            bottom: 0;
            left: -30px;
            @include mobileLg{
                left: 0;
            }
        }
    }
}