/*=============================================
=           19: Search CSS         =
=============================================*/

/*  19.1: Search Form */
.search-content{
    padding: 70px 55px;
    box-shadow: 0px 2px 8px 0px rgba(0, 124, 246, 0.1);
    @extend .color-white-bg;
    @include mobileLg{
        padding: 50px 25px;
    }
    .search-input{
        margin-bottom: 20px;
        input{
            width: 85%;
            height: 42px;
            @include tab{
                width: 60%;
            }
            @include mobileSm{
                width: 100%;
            }
        }
        button{
            font-size: 14px;
            padding: 8px 10px;
            margin-left: 20px;
            @include mobileSm{
                width: 100%;
                margin-left: 0;
                margin-top: 20px;
            }
            i{
                margin-left: 0;
                margin-right: 6px;
            }
        }
    }
    .single-checkbox , .single-radio{
        label{
            margin-bottom: 2px;
        }
    }
}

/*  19.2: Search Actions */
.search-actions{
    display: flex;
    flex-wrap: wrap;
    .action-title{
        font-size: 20px;
        font-weight: $regular;
        margin-bottom: 30px;
        @include mobileSm{
            font-size: 18px;
        }
    }
    .action-left{
        flex: 0 0 60%;
        max-width: 60%;
        .search-ordering{
            @include tab{
                margin-top: 20px;
            }
            label{
                margin-bottom: 0;
            }
            select{
                width: 220px;
                @include mobileSm{
                    width: 130px;
                }
            }
        }
    }
    .action-right{
        flex: 0 0 40%;
        max-width: 40%;
    }
}

/*  19.3: Advanced Search Form */
.advance-search-form{
    .search-input{
        display: flex;
        @include mobileLg{
            flex-flow: column;
        }
        input{
            width: 45%;
            height: 44px;
            @include tab{
                width: 45%;
            }
            @include mobileLg{
                width: 100%;
            }
        }
        button{
            text-align: center;
            margin-left: 20px;
            padding: 8px 60px;
            @include medium{
                padding: 8px 40px;
            }
            @include tab{
                padding: 8px 16px;
                margin-left: 15px;
            }
            @include mobileLg{
                margin-left: 0;
                margin-top: 20px;
            }
            i{
                margin-left: 0px;
                margin-right: 6px;
            }
            &.disabled{
                cursor: default;
            }
            &.bordered-btn{
                @extend .theme-secondary;
                @extend .color-white-bg;
                &:hover{
                    @extend .theme-secondary-bg;
                    @extend .color-white;
                }
            }
        }
        button + button{
            margin-left: 40px;
            @include tab{
                margin-left: 15px;
            }
            @include mobileLg{
                margin-left: 0;
            }
        }
    }
    .advance-search-content{
        border-top: 4px solid #f0f2f4;
        border-bottom: 4px solid #f0f2f4;
        margin-top: 22px;
        padding-top: 60px;
        padding-bottom: 22px;
        display: none;
    }
}