/*========================================
=           14:  Team CSS           =
========================================*/
.team-members-area{
    background-position: right !important;
    &.section-space--inner--r95{
        padding-bottom: 80px;
        @include tab{
            padding-bottom: 45px;
        }
        @include mobileLg{
            padding-bottom: 25px;
        }
    }
    &.section-space--inner--bottom--r95{
        padding-bottom: 80px;
        @include tab{
            padding-bottom: 45px;
        }
        @include mobileLg{
            padding-bottom: 25px;
        }
    }
}

.team-member-list{
    @include mobileMd{
        flex-flow: column;
    }
}

/*  14.1: Single Team Member */
.team-member-element{
    flex: 0 0 33.333%;
    max-width: 33.333%;
    padding: 14px;
    @include mobileMd{
        flex: 0 0 100%;
        max-width: 100%;
        justify-content: center;
    }
    .single-team-member{
        &:hover{
            .member-img{
                &:after{
                    opacity: .8;
                    visibility: visible;
                }
            }
            .member-description{
                opacity: 1;
                visibility: visible;
            }
        }
        .member-img{
            position: relative;
            &:after{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                border-radius: 4px;
                opacity: 0;
                visibility: hidden;
                transition: .9s;
                content:"";
                z-index:1;
                @extend .theme-secondary-bg;
            }
            img{
                border-radius: 4px;
            }
            
        }
        .member-description{
            position: absolute;
            left: 0;
            top: 15%;
            width: 100%;
            height: 100%;
            padding: 30px;
            z-index: 2;
            opacity: 0;
            visibility: hidden;
            transition: .9s;
            color: rgba(152 , 165, 217, 1);
            p{
                line-height: 1.88;;
            }
        }
        .member-profile{
            h2{
                font-size: 30px;
                font-weight: $regular;
                margin-bottom: 8px;
                @extend .theme-black;
            }
            .role{
                font-size: 14px;
                text-transform: uppercase;
                font-weight: $regular;
                letter-spacing: 2.5px;
                line-height: 1.9;
                @extend .theme-black;
            }
        }
    }
}
