/*=============================================
=          16:  Testimonial CSS           =
=============================================*/

/*  16.1: Testimonial Content */
.testimonial-content{
    margin-top: 15px;
    margin-bottom: 92px;
    @include mobileMd{
        margin-bottom: 40px;
    }
    .line-title{
        margin-bottom: 30px;
    }
    h3{
        margin-bottom: 28px;
    }
    p{
        margin-bottom: 38px;
    }
}