/*=============================================
=          25: Breadcrumb CSS          =
=============================================*/

.breadcrumb-area{
    padding-top: 190px;
    background-attachment: fixed !important;
    @include tab{
        padding: 100px;
    }
    @include mobileSm{
        padding: 30px;
    }
    @include mobileXs{
        padding: 15px;
    }
}

/*  25.1: Breadcrumb Content */
.breadcrumb-content{
    position: relative;
    padding: 70px;
    padding-top: 80px;
    border-top: 3px solid $theme-color--secondary;
    border-radius: 4px 4px 0 0;
    z-index:2;
    @include tab{
        padding: 40px;
    }
    @include mobileSm{
        padding: 30px;
    }
    &:after{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 4px 4px 0 0;
        content:"";
        z-index:-1;
        background-color: rgba(255 ,  255,  255, 0.85);
    }
    h2{
        font-size: 50px;
        margin-bottom: 18px;
        font-weight: $medium;
        @include mobileLg{
            font-size: 36px;
        }
        @include mobileXs{
            font-size: 32px;
        }
    }
}