
/*=============================================
=           23: Button CSS           =
=============================================*/

/*  23.1: Default Button */
.site-btn{
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 4px;
    padding: 8px 32px;
    transition: 0.35s;
    border: 1px solid $theme-color--secondary;
    @extend .theme-secondary-bg;
    @extend .color-white;
    svg,i,img{
        margin-left: 30px;
        @include mobileSm{
            margin-left: 20px;
        }
    }
    &:hover{
        @extend .color-white-bg;
        @extend .theme-secondary;
        .cls-1{
            fill: $theme-color--secondary;
        }
    }
    &:focus{
        @extend .color-white;
    }
    &.btn-v2{
        padding: 4px 28px;
        @extend .theme-secondary;
        @extend .color-white-bg;
        &:hover{
            border-color: $white;
            @extend .theme-secondary-bg;
            @extend .color-white;
        }
    }
    &.btn-large{
        padding: 15px 38px;
        font-size: 16px;
        @include mobileSm{
            padding: 15px 20px;
        }
        &.light-v1{
            background-color: rgba(12 ,  33,  117, 1);
            &:hover{
                background-color: #ffffff;
            }
        }
    }
}

/*  23.2: Icon Button */
.icon-btn{
    @extend .theme-secondary;
    i{
        margin-left: 18px;
    }
}

/*  23.3: Video Play Button */
.video-play-btn{
    display: block;
    width: 86px;
    height: 86px;
    line-height: 82px;
    border: 5px solid #ffffff;
    text-align: center;
    border-radius: 50%;
    background-color: #8f9194;
    i{
        font-size: 24px;
        @extend .color-white;
    }
}



/*=====  End of Button  ======*/