
/*=============================================
=           27: scroll top  CSS         =
=============================================*/

.backToTop{
    height: 40px;
	width: 40px;
	border-radius: 50%;
	position: fixed;
	bottom: 35px;
	right: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
	z-index: 99;
	box-shadow: 0px 2px 6px 6px rgba(0,0,0,.06);
    @extend .theme-secondary-bg;
    @include tab{
        bottom: 80px;
    }
    @include mobileMd{
        bottom: 105px;
    }
    &.show {
        opacity: 1;
        visibility: visible;
    }
    a {
        i {
            font-size: 18px;
			@extend .color-white;
        }
        
    }
}

/*=====  End of scroll top  ======*/

