
/*=============================================
=          24: Section Title CSS          =
=============================================*/

.section-title{
    max-width: 750px;
    margin-bottom: 66px;
    h5{
        margin-bottom: 25px;
    }
    h4{
        font-size: 38px;
        font-weight: $regular;
        margin-bottom: 22px;
        @include mobileLg{
            font-size: 32px;
        }
        @include mobileMd{
            font-size: 28px;
        }
    }
    p{
        font-size: 16px;
    }
    &.section-title-v2{
        .line-title{
            color: #98a5d9;
            &:after{
                background-color: #98a5d9;
            }
        }
        h4 , p{
            @extend .color-white;
        }
    }
    &.section-title-v3{
        max-width: 385px;
    }
    &.section-title-v4{
        h4{
            margin-bottom: 42px;
            @extend .color-white;
        }
        p{
            font-size: 18px;
            color: rgba(152 , 165, 217, 1);
        }
    }
}